body 
{
	background-color : #F5F7F8;
}
.clear{clear:both;}
hr
{
	border : 0;
	border-top : 0.5px solid #EEEEEE;
	width : 90%;
	margin : auto;
}
.names 
{
	font-size : 20px;
	padding : 20px;
	padding-top : 35px;
	padding-bottom : 45px;
	display : inline-block;
}
/* ///////////////////////Header////////// */
.header 
{
	background-color : #4D636F ;
	width : 100%;
	position : fixed;
	overflow:hidden;
}
.header .logo 
{
	background : #3A4B53 ;
	width : 120px;
	height : 100%;
	font-family : "Open Sans" , sans-serif;
	float : left;

}
.header .logo a 
{
	color : #fff;
	text-decoration : none;
}
.header .logo  i
{
	padding : 10px 10px ;
	margin : 5px;
	font-size : 20px;
}
.header ul 
{
	margin : 0;	
	list-style : none;
	padding-left : 0;
	overflow : hidden;
}
.header ul li
{
	float : left ;
	/*margin : 15px 25px 15px 20px;*/
	padding : 15px 25px 15px 24px;

}
.header  ul  li a
{
	text-decoration : none;
	color : #fff;
	font-size : 18px;

}
.header  ul  li a i
{
	font-size : 18px;
}
.header ul .r 
{
	float : right ;	
	padding: 10px;
	padding-bottom : 20px;
	padding-right : 20px;
}
.header ul .r a div 
{
	width : 30px;
	height : 20px;
	float : right ;
}
.header ul .r a div  img
{
	width : 100%;
	border-radius : 50%;
	float:right;
}

.header  ul  li:hover 
{
	background-color : #FFF;
	cursor:pointer ;

}
.header  ul  li:hover a 
{
	color : #000;
}



/* /////////////////Left////////// */
.left 
{
	float  : left ;
	width : 22%;
	margin : 80px 20px 20px 20px;

}
.left .inf
{
	background-color : #FFFFFF;
	margin-bottom : 20px;


}
.left .inf span {text-align: center; padding-top : 20px; display : block;}
.left .inf  .pic-profile
{
	width : 35%;
	margin : 2%;
	margin : auto;
	margin-bottom : 20px;
}
.left .inf  .pic-profile img
{
	width : 100%;
	border-radius: 50%;
}
 .inf-hild 
{
	padding : 8px;
	font-size : 15px;
}
.left .inf .inf-hild i  
{
	color : #7D97A5;
	padding : 8px;
}

.own 
{
	background-color : #7D97A5 ;
	color : #FFFFFF;
	font-size : 15px;
	margin-bottom : 12px;
} 
.left .own > div:hover
{
	box-shadow : 5px 8px 30px #728996 ;
	border-radius : 6px;
	cursor : pointer;
}
.left .own .inf-hild i
{
	color : #FFF;
	padding : 8px;
}
.interests 
{
	background-color: #fff;
	padding : 8px 5px 5px 5px;
	margin-bottom : 15px;
}
.interests span 
{
	font-size : 12px;
	display : inline-block;
	background : #DDD;
	padding : 3px 8px;
	margin-bottom : 5px;
}
.interests .word
{
	display : block;
	background: none;
	font-size : 16px;
	padding-bottom : 20px;
}
.interests .s1
{
	background-color : #303e45;
	color : #fff;
}
.interests .s2
{
	background-color : #4d636f ;
	color : white;
}
.interests  .s3{color : #fff; background-color : #7d97a5; ;}
.interests  .s4{color : #000; background-color : #9eb1bb;}
.interests  .s5{color : #000; background-color : #becbd2;}
.interests  .s6{color : #000; background-color : #dfe5e8  ;}
.interests  .s7{color : #000; background-color : #f5f7f8;}

.message 
{
	color : #000;
	background-color : #DFE5E8;
	border : 1px solid #000 ;
	padding : 15px;
	overflow : hidden;
	padding-bottom : 0px;
}
.message span 
{
	float : left ;
	font-weight : bold;
}
.message i 
{
	float : right ;
	font-size : 20px;
}
.message p {line-height : 1.6; font-size : 15px;}
.message  i:hover 
{
	cursor : pointer ;
}
/* //////////////////Center//////////// */
.Center 
{
	float : left ;
	width : 55%;
	margin-bottom : 30px;
}
.status 
{
	background-color : #fff;
	margin-top : 80px;
}

.Center .status span {display : block; color : #888; margin: 20px 15px; padding-top : 15px; margin-bottom : 5px;}
.Center .status input 
{
	width : 92%;
	padding :8px;
	margin : 15px;
}
.Center .status button 
{
	background-color : #607D8B ;
	color : #fff;
	border : 0;
	padding-top : 8px;
	padding-bottom : 8px;
	margin-bottom : 10px;
	padding-right : 10px;
	margin-left : 10px;
}
.Center .status button i 
{
	padding-left : 10px;
}
.posts
{
	margin : 10px 0px;
	padding: 0 15px;
	background-color : #fff;
}
.Center .post hr {width : 98%;}
.one-pic .que 
{
	display : block;
	font-size : 16px;
	margin : 10px 0;
}
.one-pic .theone
{
	width : 100%;
}
/* //////////////////Right//////////// */
.right 
{
	width : 17%;
	float : left;
	margin: 80px 20px 20px 20px;
	
}
.right > div 
{
	background-color : #fff;
	margin-bottom : 15px;
}


.right span , .friend-req span
{
	text-align : center ;
	display : block;
	padding-top : 20px;
	padding-bottom : 15px;
}
.up-events h4 {text-align : center; margin-bottom : 0;}
.up-events div 
{
	width : 90%;
	margin : auto ;
}
.up-events div img , .friend-req div  img {width : 100%;}
.up-events button 
{
	background-color : #DFE5E8;
	width : 92%;
	border : 0;
	margin : 5px 10px 15px 10px  ;
	padding-top : 8px;
	padding-bottom : 8px;
	border-radius : 5px;
	
}
.friend-req 
{
	overflow : hidden;
}
.friend-req .image 
{
	width : 50%;
	margin : auto ;
}
.friend-req .name 
{
	padding-top : 5px;
}
.friend-req .req-but 
{
	margin : auto ;
	/*width : 90%;*/
	overflow : hidden;
	margin-bottom : 10px;
}
.accept , .reject
{
	background-color : #93CF96;
	border : 0px ;
	width: 45%;
	color : #fff;
	margin-bottom : 10px;
	float : left ;
}
.accept {margin-left : 10px;}
.accept i , .reject i 
{
	padding-top : 5px ; 
	padding-bottom : 5px ; 
}
.friend-req .req-but button:hover , .up-events button:hover , .like-comm:hover , .Center .status button:hover
{
	box-shadow : 5px 5px 15px #798184 ;
	cursor : pointer ;
}
.reject
{
	background-color : #F88E86;
}

.adv
{
	min-height : 65px;
	margin:auto;
	padding-top : 18px;
}
.over
{
	
	min-height : 150px;
	text-align : center;
	
}
.over i {padding-top : 45px ; }
/**************************/ 
.shadow 
{
	box-shadow: 3px 3px 5px #D9DBDC;
}
.radu
{
	border-radius : 4px;
}
.posts-pics
{
	border-radius: 50%;
	width : 60px;
	padding-top : 20px ;
	padding-bottom: 20px ;
	float :left ;
}
.time 
{
	color:#9B9B9B;
	float:right;
	padding : 25px 10px;
}
.posts-p 
{

	line-height : 1.5;
}
.like-comm
{
	background-color : #4D636F ;
	color : #fff;
	border:0;
	padding : 6px 15px;
	margin : 10px 5px;

}
.like-comm i 
{
	margin-right : 5px;
}
.pics img 
{
	width : 48%;
	float : left;
	padding : 5px 6px;
}





footer 
{
	background-color :#435761;
	height : 50px;
}




